.LoginPage{
    background-color: #EBEBEB;
    text-align: center;
    padding-top: 10%;
    min-height: 100vh;

}

.tp-head{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    text-transform: capitalize;

    /* Dark */
    color: #1FB299;
}