.average-time{

    position: absolute;
    width: 288.44px;
    height: 30.65px;
    left: 371.18px;
    top: 639.88px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 26.3989px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Dark */

    color: #1FB299;
}

.average-time-box{
    height: 323.29644775390625px;
    width: 391.8016662597656px;
    left: 319.4993591308594px;
    top: 634.4765625px;
    border-radius: 9.14384937286377px;
    background: #FFFFFF;

    box-shadow: 0px 3.1029140949249268px 2.4823315143585205px 0px #000000 1.97%;
    box-shadow: 0px 7.456733703613281px 5.965387344360352px 0px #000000 2.83%;
    box-shadow: 0px 14.04036808013916px 11.232294082641602px 0px #000000 3.5%;
    box-shadow: 0px 25.045616149902344px 20.0364933013916px 0px #000000 4.17%;
    box-shadow: 0px 46.845069885253906px 37.4760627746582px 0px #000000 5.03%;
    box-shadow: 0px 112.12963104248047px 89.70369720458984px 0px #000000 7%;
}