.dashboard-box{
	margin-left: 5vw;
	margin-right: 4vw;
	margin-bottom: 5vw;
	background-color: #FFFFFF;

}

.dashboard-content{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 14.7vw 25vw 25vw;
	grid-gap:10px;
}

.box-1{
	grid-column-start:1;
	grid-column-end:2;
}

.box-2{
	grid-column-start:3;
	grid-column-end:4;
}

.box-3{
	grid-column-start:5;
	grid-column-end:6;
}

.box-4{
	grid-column-start:1;
	grid-column-end:6;
}

.box-5{
	grid-column-start:1;
	grid-column-end:4;
}

.box-6{
	grid-column-start:4;
	grid-column-end:6;
}