.dashboard-page{
	background-color: #EBEBEB;
}
.dashboard-box{
	width:80%;
	position: absolute; left: 50%; top: 5%;
    transform: translate(-50%);
	margin-bottom: 4vh;
}

.loading-page{
	padding-top: 18vh;
	background-color: #E5E5E5;
	padding-bottom: 23.5vh;
}

.dashboard-content{

	.row{
		display:flex;
		padding-bottom: 1%;
		padding-top: 1%;
		&.one{
			width:100%;

			.col{
				&.one{
				}
				&.two{
				}

			}
		}
		&.two{
			height:40vh;
			width:100%;
			.col{
				&.one{
				}
			}
		}
		&.three{
			height:40vh;
			width:100%;

		}
	}
}

