.dropdown{
    background-color: #EBEBEB;
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 35vw;
    margin-right: 35bw;
    box-shadow: none;
}

.null-option{
    text-align: center;
    
}

.some-option{
	background-color: #EBEBEB;
}