.dropdown{
    width: 30%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 35vw;
    margin-right: 35vw;
    text-align: left;
    font-size: 20px;
}

.null-option{
    text-align: center;    
    padding-bottom: 62.7vh;
    background-color: #e5e5e5;
    font-size: 20px;
}

.dropdown-box{
    background-color: #e5e5e5;
}
