.tp-navbar{
    background-color: #F7F7F9;
    height: 6vh;
    border-radius: 0px 0px 10px 10px;

    box-shadow: 0px 186.596px 149.277px rgba(0, 0, 0, 0.07), 0px 77.9552px 62.3642px rgba(0, 0, 0, 0.0503198), 0px 41.6786px 33.3429px rgba(0, 0, 0, 0.0417275), 0px 23.3647px 18.6917px rgba(0, 0, 0, 0.035), 0px 12.4088px 9.92704px rgba(0, 0, 0, 0.0282725), 0px 5.16358px 4.13087px rgba(0, 0, 0, 0.0196802);
}